{% extends "home/base.html" %}

{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
<h2 class="active"> Add Details</h2><br><br>
<form action="{% url 'adddata' %}" method="POST">
        {% csrf_token %}
{% for field in form %}
<div class="row">
  <div class="col-md-4">
    {{ field.label_tag }}
    
      {% for error in field.errors %}
       <div class="row">
         <div class="alert alert-danger">{{error}}</div>
       </div>
      {% endfor %}
   </div>
   <div class="col-md-8 pull-left">
     {{ field }}
     <br>{% if field.help_text %}
      <p class="font-italic font-weight-light">{{ field.help_text }}</p>
      {% endif %}
   </div>
</div>
<br>
{% endfor %}

<div>
  <input type="submit" value="Predict Now">
</div>

</form>
</div></div>
{% endblock content %}